@font-face {
    font-family: 'Days';
    src: url('../fonts/7fonts_ru_Days.eot');
    src: url('../fonts/7fonts_ru_Days.eot') format('embedded-opentype'),
         url('../fonts/7fonts_ru_Days.woff2') format('woff2'),
         url('../fonts/7fonts_ru_Days.woff') format('woff'),
         url('../fonts/7fonts_ru_Days.ttf') format('truetype'),
         url('../fonts/7fonts_ru_Days.svg#7fonts_ru_Days') format('svg');
}